body {
    margin-left: 5px; 
    overflow: scroll;
    text-align:center;
}

.form-control {
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
}

.control-label {
    margin-top: 20px;
}

.floating-panel {
    padding: 5px;
}

#map { 
    margin: auto;
    height: 500px; 
}
